[submodule "themes/hugo-liftoff"]
	path = themes/hugo-liftoff
	url = https://github.com/wjh18/hugo-liftoff.git
[submodule "themes/eternity"]
	path = themes/eternity
	url = https://github.com/boratanrikulu/eternity.git
